html
  head
    title= "Estimation de consommation"
    style
      include css/consommation.css
  body
    h5 Estimation de consommation
    h2 #{consommations.title}

    h3 Contexte
    p Consommation d'énergie par an, pour #{consommations.context.occupants} habitants
    table 
      thead
        tr
          td.left Type d'option
          td.right Option choisie
      tbody
        each option in consommations.context.options
          tr 
            td.left #{option.option}
            td.right #{option.value}

    h3 Consommation globale
    table 
      tbody
        tr 
          td.left Consommation de la configuration
          td.right.energy #{consommations.global.config}
        tr 
          td.left Consommation de référence (pour un logement équivalent)
          td.right.energy #{consommations.global.reference}
        tr 
          td.left Différence de consommation par rapport à la consommation de référence
          td.right.percent #{consommations.global.diffPercentage}
    
    h3 Consommation par poste
    table 
      tbody
        each poste in consommations.byPosteConso.config
          tr 
            td.left #{poste.posteConso}
            td.right= poste.conso + 'kWh (' + poste.diffPercentageOfPosteConsoReference + '%)'

    h4 Répartition des postes
    table 
      tbody
        each poste in consommations.byPosteConso.config
          tr 
            td.left #{poste.posteConso}
            td.right.percent #{poste.percentageOfGlobalConfig}

    h3 Consommation de référence
    h4 Détail des postes
    each poste in consommations.byPosteConso.reference
      table 
        thead 
          tr 
            td.center 
              p #{poste.posteConso.name}
              p.details #{poste.posteConso.description}
        tbody
          tr 
            td.center #{poste.conso}kWh (#{poste.percentageOfGlobal}%)
