html
  head
    title= "Devis"
    style
      include css/estimate.css
  body
    h1 #{title}
    div.details
        div.option Modèle
        div.details-body
            div.value-container
                span.value #{houseModel.name}
                span.price #{houseModel.price}
    each details in estimate
        div.details
            div.option #{details.option.name}
            div.details-body
                div.value-container
                    span.value #{details.value.name}
                    span.price #{details.value.price}
    div.details
        div.value-container
            span.value Totale
            span.price #{total}

